@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, 0%hsl(0, 0%, 100%), 100% (0, 100%, 98%));
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 5rem;
}

.logo-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.image-logo {
    min-width: 90px;
    width: 120px;
}

.image-container {
    width: 100%;
    min-height: 250px;
    height: auto;
    background-image: url('./images/hero-mobile.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position: center;
    
}
.text-content {
    width: 90%;
    height: 53vh;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.text-emphasis {
    text-align: center;
    padding-top: 0rem;
    margin: 1rem 0 1rem 0;
}

.first-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5rem;
    color: hsl(0, 36%, 70%);
}

.second-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7rem;
}

.text-paragraph {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-bottom: 2rem;
    color: hsl(0, 36%, 70%);
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email {
    width: 100%;
    height: 2.7rem;
    border-radius: 50px;
    padding-left: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.email::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
}

.email:focus {
    outline: none;
}

button {
    position: absolute;
    width: 20%;
    height: 2.7rem;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, hsl(0, 80%, 86%) 0% ,hsl(0, 74%, 74%) 100%) ;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 3px 15px hsl(0, 6%, 24%, 0.8);
    cursor: pointer;
}

.alert{
    position: absolute;
    top: 20%;
    right: 25%;
    opacity: 0;
}

.text-alert {
    position: absolute;
    display: block;
    bottom: -1.3rem;
    left: 1rem;
    font-size: 0.8rem;
    color: hsl(0, 93%, 68%);
    opacity: 0;
}

/* alerts validation */
.email.active {
    border: 2px solid hsl(0, 93%, 68%);
}
.email.success {

    animation: success-animation  4s ease-in-out;
}

@keyframes success-animation {
    0% {
        border: 2px solid hsl(138, 82%, 51%, 1) ;
    }
    50% {
        border: 2px solid hsl(138, 82%, 51%, 0.5)
    }
    100% {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }

}

.text-alert.active,
.alert.active {
    opacity: 1;
}


/* Footer */
footer {
    width: 100%;
    height: 20px;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    font-size: 0.8rem;
}

@media (max-width:300px) {
    footer {
        margin-top: 60px;
    }

    .attribution {
        font-size: 0.5rem;
        text-align: center;
    }
    
    .attribution a {
        font-size: 0.5rem;
    }
}

@media (min-width:568px) {

    body {
        height: 100%;
        position: relative;
    }
    .image-container {
        height: 450px;
    }
    .first-text,.second-text {
        font-size: 3rem;
    }

    .text-content {

        height: 100%;
    }

    .text-paragraph {
        width: 500px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .email {
        height: 3rem;
    }

    button {
        width: 13%;
        height: 3rem;
    }

    .alert {
        right: 15%;
        top: 25%;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: -4%;
        left: 0;
    }
}

@media (min-width:921px) {
    body {
        width: 100%;
        height: 100vh;
        position: relative;

    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header {
        position: absolute;
        top: 0;
        padding: 4rem 0;
    }
    .logo-container {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: absolute;
        left: 10%;
        top:0;
    }

    .image-logo {
        min-width: 90px;
        width: 170px;
    }
    .image-container {
        width: 40%;
        height: 100%;
        background-image: url('./images/hero-desktop.jpg');
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-position: center;
        position: absolute;
        right: 0;
        top: 0ch;
        
    }

    .text-content {
        width: 60%;
        height: 84%;
        position: absolute;
        top: 6rem;
        left: 0;
    }
    
    .text-emphasis {
        text-align:left;
        margin-top: 4rem;
        width: 65%;

    }
    
    .first-text {
        font-size: 5rem;
        letter-spacing: 0.8rem;
    }
    
    .second-text {
        font-size: 5rem;
        letter-spacing: 0.7rem;
    }
    
    .text-paragraph {
        text-align:start;
        font-size: 1.2rem;
        width: 65%;
        margin-bottom: 3rem;
    }

    .form{
        width: 65%;
    }
    
    .email {
        height: 3.8rem;
        padding-left: 2rem;
        font-size: 1.2rem;
    }

    .email::placeholder {
        font-size: 1.2rem;
    }

    button {  
        height: 3.8rem;
        width: 22%;

    }
    
    .alert{
        top: 27%;
        width:30px;
    }
    
    .text-alert {
        bottom: -1.5rem;
        left: 2rem;
        font-size: 1rem;
    }

    footer{
        position: absolute;
        width: 60%;
        bottom: 0;
        left: 0;
    }

    .attribution {
        padding-left: -20%;
    }
}

@media (min-width:922px) {
    body {
        background-size: 60% 100%;
    }

    header {
        padding: 3rem 0;
    }

    .image-logo {
        width: 150px;
    }


    .text-content {
        top: 4rem;
    }
    
    .text-emphasis {
        margin-top: 0rem;

    }
    
    .first-text {
        font-size: 3.5rem;
        letter-spacing: 0.6rem;
    }
    
    .second-text {
        font-size: 3.5rem;
        letter-spacing: 0.6rem;
    }
    
    .text-paragraph {
        text-align:start;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    .email {
        height: 3rem;
        font-size: 1rem;
    }

    .email::placeholder {
        font-size: 1rem;
    }

    button {  
        height: 3rem;
        width: 22%;

    }
    
    .alert{
        top: 27%;
        right: 25%;
        width: 22px;
    }
    
    .text-alert {
        bottom: -1.3rem;
        left: 2rem;
        font-size: 0.8rem;
    }
    footer{
        position: absolute;
        width: 60%;
        bottom: 0;
        left: 0;
    }

    .attribution {
        padding-left: -30%;
    }

}



@media (min-width:1025px) {
    body {
        width: 100%;
        height: 100vh;
        position: relative;
        background-size: 60% 100%;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header {
        position: absolute;
        top: 0;
        padding: 4rem 0;
    }
    .logo-container {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: absolute;
        left: 10%;
        top:0;
    }

    .image-logo {
        min-width: 90px;
        width: 170px;
    }
    .image-container {
        width: 40%;
        height: 100%;
        background-image: url('./images/hero-desktop.jpg');    
    }

    .text-content {
        width: 60%;
        height: 84%;
        position: absolute;
        top: 1rem;
        left: 0;
    }
    
    .text-emphasis {
        text-align:left;
        margin-top: 4rem;
        width: 65%;

    }
    
    .first-text {
        font-size: 4rem;
        letter-spacing: 0.8rem;
    }
    
    .second-text {
        font-size: 4rem;
        letter-spacing: 0.7rem;
    }
    
    .text-paragraph {
        text-align:start;
        font-size: 1.2rem;
        width: 65%;
        margin-bottom: 2rem;
    }

    .form{
        width: 65%;
    }
    
    .email {
        height: 3.8rem;
        padding-left: 2rem;
        font-size: 1.2rem;
    }

    .email::placeholder {
        font-size: 1.2rem;
    }

    button {  
        height: 3.8rem;
        width: 22%;

    }
    
    .alert{
        top: 25%;
        width:30px;
    }
    
    .text-alert {
        bottom: -1.5rem;
        left: 2rem;
        font-size: 1rem;
    }

    footer{
        position: absolute;
        width: 60%;
        bottom: 0;
        left: 0;
    }

    .attribution {
        padding-left: -20%;
    }
}

@media (min-width:1290px) {
    header {
        padding: 4rem 0;
    }

    .text-content {
        top: 6rem;
    }

    .text-emphasis {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }
    
    .first-text, .second-text {
        font-size:5rem;
        letter-spacing: 1rem;
    }

    .text-paragraph {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
}
